@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Prata&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #839192;
  --color-secondary: ;
  --color-success: ;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Prata', serif;
}


/* html {
  overflow-y: scroll;
} */